mark {
  @apply bg-accentColor;
}

prose p {
  margin-bottom: 2em;
}

/* ------------------------------------- */
/* NOTE: "old" is the page we are leaving, "new" is where we are going */

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  animation: 0.5s cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation: 0.5s cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

@keyframes slide-from-right {
  from {
    transform: translateX(100%);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-100%);
  }
}
/* ------------------------------------- */
