---
import config from '@/config'
import { ViewTransitions } from 'astro:transitions'

import BaseHead from '@/components/BaseHead.astro'
import Nav from '@/components/Nav.astro'
import Footer from '@/components/Footer.astro'
import { Tooltips } from 'astro-tooltips'

// Font
import '@fontsource/inconsolata/400.css'
import '@fontsource/inconsolata/500.css'
import '@fontsource/inconsolata/700.css'

const {
  meta: { title, description = config.description }
} = Astro.props
---

<html lang={config.lang}>
  <head>
    <!-- Google tag (gtag.js) -->
    <!-- https://partytown.builder.io/ -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-8GD59W4Y3T"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'G-8GD59W4Y3T')
    </script>

    <BaseHead title={title} description={description} />
    <ViewTransitions />
  </head>
  <body
    class="mx-auto max-w-[900px] bg-lightModeBg px-5 text-lightModeText scrollbar scrollbar-thumb-accentColor dark:bg-darkModeBg dark:text-darkModeText"
  >
    <Nav />
    <main
      transition:animate="slide"
      class="min-h-[calc(100dvh-90px-70px)] py-10 w500:min-h-[calc(100dvh-110px-70px)]"
    >
      <slot />
    </main>
    <Footer />

    <script>
      import config from '@/config'

      function colorMode() {
        if (
          localStorage.theme === 'dark' ||
          (!('theme' in localStorage) &&
            window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
          document.documentElement.classList.add('dark')
          document.documentElement.setAttribute(
            'data-theme',
            config.themes.dark as string
          )
        } else {
          document.documentElement.classList.remove('dark')
          document.documentElement.setAttribute(
            'data-theme',
            config.themes.light as string
          )
        }
      }

      colorMode()
      document.addEventListener('astro:after-swap', colorMode)
    </script>
  </body><script>
    if (!window.consoleMessageShown) {
      console.log(`\n\n`)
      console.log(`****************`)
      console.log(`*** HEY YOU! ***`)
      console.log(`****************`)
      console.log(`\n\n`)
      console.log(`Welcome! I hope you like the website!\n\n`)
      console.log(
        `I see you there looking at the console output for this blog.`
      )
      console.log(
        `That is pretty cool that you are a technical type of person.`
      )
      console.log(`Keep it up!\n\n`)
      console.log(`\n\n`)
      window.consoleMessageShown = true
    }
  </script>
</html>
