---
import config from '@/config'
import { ViewTransitions } from 'astro:transitions'
import BaseHead from '@/components/BaseHead.astro'

const {
  meta: { title, description = config.description }
} = Astro.props
---

<html lang={config.lang}>
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
  </head>
  <body
    class="bg-lightModeBg text-lightModeText dark:bg-darkModeBg dark:text-darkModeText"
  >
    <main class="flex min-h-screen flex-col items-center text-center">
      <slot />
    </main>
    <script>
      import config from '@/config'

      function colorMode() {
        if (
          localStorage.theme === 'dark' ||
          (!('theme' in localStorage) &&
            window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
          document.documentElement.classList.add('dark')
          document.documentElement.setAttribute(
            'data-theme',
            config.themes.dark as string
          )
        } else {
          document.documentElement.classList.remove('dark')
          document.documentElement.setAttribute(
            'data-theme',
            config.themes.light as string
          )
        }
      }

      colorMode()
      document.addEventListener('astro:after-swap', colorMode)
    </script>
  </body>
</html>
